:root{
    --primary-color: #15202B;
    --text-color: #8899A6;
}

body{
    text-align: center;
    background-color: var(--primary-color);
    min-height: 100vh;
}

h1 {
    font-size: 50px;
    color: white;
}

input {
    font-size: 20px;
    border: 2px solid var(--text-color);
    border-radius: 0.2rem;
    padding: 0.5rem;
}

label {
    display: block;
    padding-bottom: 1rem;
    color: var(--text-color);
    font-size: 30px;
    margin-top: 2rem;
}

button {
    margin-top: 2rem;
    font-size: larger;
    border: 2px solid var(--text-color);
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.output {
    display: block;
    padding-bottom: 1rem;
    color: var(--text-color);
    font-size: 30px;
    margin-top: 2rem;
}

.footer {
    margin-top: 3rem;
    background-color: var(--primary-dark);
    padding: 2rem 1rem;
    text-align: center;
    color: var(--text-color);
 }
  
  .list-non-bullet {
    list-style: none;
  }
  
  .list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
  }
  
  .footer-icons {
    max-width: 50px;
  }
  
  .link {
    text-decoration: none;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .container-centre {
    max-width: 600px;
    margin: auto;
    color: var(--text-color);
  }